doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #google_translate_element
    script.
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,ja,ko,pt,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
    .col-centered{
      float: none;
      margin: 0 auto;
    }


  body
    div.container
      div(style="background:#f5deed !important" class="jumbotron" text-align:center align="center" margin:auto)
        <h1 style="color:white"> Augur crowdsale page </h1>
        p.class.text-center
          a(href='#{uri}') #{uri}
        p.class.text-center
          <div class = "row">
          <div class="col-xs-5 col-centered col-sm-4 col-centered col-md-3 col-centered col-lg-2 col-centered">
          <a href="#" class="thumbnail">
          <img src = '#{src}'>
          </a>
          </div>
          </div>
        span &nbsp;
        br
        p.class.text-center
          a(href='#{plainAddr}') #{plainAddr}
        br
        p.class.text-center
          <a href="/profile" class="btn btn-primary" role="button"> Submit Ethereum Address </a>
        br
        br
        br
    script.
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/55ac011429ac8aa732362572/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();

  script.
    function Redirect() {
      window.location="http://augur-crowdsale.herokuapp.com/profile";
    }
    var x = setInterval(function() {
      var addr =!{JSON.stringify(address)}
      var url = 'https://api.chain.com/v1/bitcoin';
      url += '/addresses/' + addr;
      url += '?key=de4b1f306bbe25f98dd23c8c02c703c8';
      $.ajax({
        url: url,
        type: 'GET',
        success: function(data) {
          if(data.unconfirmed_received > 0) {
            document.write("You sent " + data.unconfirmed_received + " satoshis and will be redirected to profile page in 10 sec.");
            setTimeout('Redirect()', 10000);
            clearInterval(x);
          }
        },
        error: function(req, msg, err) {
          console.log(err);
        }
      });
    }, 3000);
    $(document).ready();