html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #google_translate_element
    script.
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,de,es,fr,ja,ko,nl,pt,zh-CN,zh-TW,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    <meta name="viewport" content="width=device-width, initial-scale=1">

  body(style="background-color: #f5deed !important" bgcolor="#f5deed")
    div.container
      div.jumbotron(style="background-color: #b57ca6 !important")
        h1(style="color:white") Hello there!

        if user
          p(style="color:white") Welcome, #{user.fullName}
          p
            .alert.alert-info.alert-dismissible(role='alert')
              strong Heads up!
              |  Click on Dashboard to buy in or buy more rep.  Click on edit profile to add your Ethereum address
          p
            a.small(href="profile" style="color:white") Edit my profile
          p
            a.small(href="dashboard" style="color:white") Dashboard
          a.btn.btn-primary(href="/logout") Logout
        else
          p(style="color:white") Welcome to our crowdsale, ready to get started?
          p
            .alert.alert-info.alert-dismissible(role='alert')
              strong Heads up for first time users!
              |  If you don't yet have an account and want to login with google or facebook, click login now.  If you want to create a manual account, click register now the first time.
            .alert.alert-warning.alert-dismissible(role='alert')
              strong Warning!
              |  Make sure to use the same login method each time you login!
          p
            <div float="right">
            a.btn.btn-primary(href="/login") Login now
            br
            br
            <script type="text/javascript" src="https://clef.io/v3/clef.js" data-state="#{csrf_token}" class="clef-button" data-app-id="988fdd39fb3a41d1e273270577abb062" data-color="white" data-style="flat" data-redirect-url="http://augur-crowdsale.herokuapp.com/clef" data-type="register"></script>
            </div>
          p(style="color:white")
            span.small(style="color:white") Don't have an account?
            span &nbsp;
            span #[a.checkbox]
               label
               input(type='checkbox', name='checkbox', id='agreement' value='test')
            span &nbsp;
            a.small(style="color:white" href="/legal", target="_blank") I read the terms
            span &nbsp;
            br
            a.small(style="color:white" href="/register", id="link") Register now
            a.small(style="color:white" href="/", id="fakeReg") Register now
            script(type='text/javascript').
              var chk = document.getElementById("agreement");
              var anchor = document.getElementById("link");
              anchor.style.display = "none";
              anchor.onclick = function(e){
                e.preventDefault();
              }

              chk.onclick = function(){
                  if(chk.checked){
                      anchor.style.display = "inline";
                      document.getElementById("fakeReg").style.display = "none"
                    anchor.onclick = "";
                  }
                  else {
                    anchor.style.display = "none"
                    document.getElementById("fakeReg").style.display = "inline"
                  }
              }
            p <font size="-1">Need help? Email #[a(href="mailto:team@augur.net") team@augur.net] or message joeykrug on Skype</font>
    div(style="background-color: transparent; border: 0px none transparent; padding: 0px; overflow: hidden; margin: auto; display: block !important")
        iframe(src='https://augursale.divshot.io/pre-sale' seamless width="90%" style="background-color: transparent; border: 0px; none transparent; padding: 0px; overflow: hidden; margin: auto; display: block !important" height="5077" scrolling="no")
    script.
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/55ac011429ac8aa732362572/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();