html
  head
    title="Augur - Fund the Future"

    link(href="/css/flipclock.css", rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

    <meta name="viewport" content="width=device-width, initial-scale=1">

    #google_translate_element
    script.
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,de,es,fr,ja,ko,nl,pt,zh-CN,zh-TW,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
    script(src="//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="/js/vendor/picturefill.js")
    script(src="/js/vendor/flipclock.js")
    script.
      function shapeshift_click(a,e){e.preventDefault();var link=a.href;window.open(link,'1418115287605','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');return false;}

  body
    section.brand
      .container
        img.logo(src="/images/augur_logo_600.png" alt="augur logo")
        if saleStarted
          h4.funds-raised <b><span class="amount-raised">0.0000</span> BTC</b> in funds raised
        else
          .timer
          h4.sale-starts until sale starts on <b>Monday, August 17th, 12:00 PM EST</b>
    section.action
      .container
        if user
          h2 Hello, <b>#{ user.fullName }</b>
          h4 You own <b data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Percentage is an estimate. Final reputation will be calulated after sale.">#{ repPercentage }% Reputation*</b> after spending <b>#{ btcBalance } BTC</b>
          .row
            if saleStarted
              .col-sm-12
                p.btc-desc Purchases using BTC can be made using the following address.<br>This address is unique to your account.
                a.btc-uri(href="#{ buyUri }" data-toggle="popver", data-trigger="hover", data-placement="left", data-content="Send Bitcoin to this address and you'll get REP in proportion to the amount") #{ btcAddress }
                img.btc-qrcode.center-block(src="#{ qrCode }")
                p.or <b>OR</b>
                p.shifty-io
                  a(onclick="shapeshift_click(this, event);" href="https://shapeshift.io/shifty.html?destination=#{ btcAddress }&amp;output=BTC")
                    img.ss-button(src="https://shapeshift.io/images/shifty/xs_dark_altcoins.png")

              if ethereumAddress
                .col-sm-12
                  .ethereum-address 
                    h5 Your purchased REP will be associated with the Ethereum address set here. 
                    p You may change your pay-out address at any time up until the official launch of Augur.  We will notify you prior to this and confirm this address.
                    form.center-block.set(method='post', role='form')
                      .input-group
                        input.form-control(name="ethereumAddress", data-container="body", value="#{ ethereumAddress }", disabled)
                        span.input-group-btn
                          button.btn.btn-default(type="button", onclick="editEthereumAddress()") Change
                    form.center-block.unset(method='post', role='form', style="display: none;")
                      .input-group
                        input.form-control(name="ethereumAddress", data-container="body", placeholder="Enter your Ethereum address", data-toggle="popover", data-placement="bottom", title="WARNING!", data-trigger="focus", data-content="This must be a valid Ethereum address you have the private key to and not an exchange address or similar.", value="#{ ethereumAddress }")
                        span.input-group-btn
                          button.btn.btn-default(type="button", onclick="cancelEdit()") Cancel
                          button.btn.btn-primary(type="submit") Save
              else
                .col-sm-12
                  .ethereum-address
                    h5 A valid Ethereum address is required to recieve your purchased REP
                    p If you already have a valid Ethereum address and <b>possess a private-key</b> for it (ie. not an exchange address or similar) you can use that for your REP distribution.  Alternatively, you can <b>create one here</b>.
                    form(method='post', role='form')
                      .input-group
                        input.form-control(name="ethereumAddress", data-container="body", placeholder="Enter your Ethereum address")
                        span.input-group-btn
                          button.btn.btn-default(type="button", data-toggle="modal", data-target="#create-account-modal") Create
                          button.btn.btn-primary(type="submit") Save

              .col-sm-12
                .center-block.estonia <a data-toggle="modal" data-target="#estonia-taxation-modal">Important information for residence of Estonia</a>
                        
            else
             .col-sm-12
                h4.check-back Check back here when our sale starts to purchase REP

            if referralLink
              .referral <b>Refer a friend</b> and both of you recieve <b>4% bonus REP</b>!<br>Send them to <b>http://sale.augur.net/ref?id=#{ referralCode }</b>

          .logout
            a(href="/logout") logout
        else
          h2 Be a part of <b>making history</b>
          .row
            .col-sm-6
              .intro
                <p>To continue funding our ambitious project of the World's first decentralized, prediction market, we are selling Reputation in Augur.</p>
                <p>Reputation and its owners are what comprise the distributed oracle and determine the outcome of market events.  See the video below for a brief introduction of how this works and <a href="http://www.augur.net/blog/what-is-reputation">our blog post</a> for a more in-depth look.</p>
            .col-sm-5.col-sm-offset-1
              p.login
                a.btn.btn-primary.btn-lg(href="/login") Login and get started!
              p.disclaimer By logging in you agree to <a href="/legal">the terms</a> of the Augur crowd-sale</p>
    section.video
      .container
        .row
          .col-xs-12
            <h3>Reputation in Augur</h3>
            .wrapper
              .video
                iframe(src="https://www.youtube.com/embed/sCms-snzHk4" frameborder="0" allowfullscreen)


    section.fund-management
      .container
        .row
          .col-xs-12 <h3>Fund management</h3>
        .row
          .col-md-12
            <p>All proceeds received from Augur software sale are under control of a multi-sig wallet, that will require co-signature of at least 2 signers out of 3 signers listed below.</p>
        .row.holder-people
          .col-sm-4.clearfix
            .member-team
              a(href="#")
                span.img(data-picture data-alt="illustration")
                  <span data-src="/images/teamMembers/augurfoundation.png"></span>
                  <span data-src="/images/teamMembers/augurfoundation.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                  noscript
                    <img src="/images/img/teamMembers/augurfoundation.png" alt="illustration" />

              <h4><a href="http://www.augur.net">Forecast Foundation</a></h4>
              <p class="position">Foundation, Augur</p>
              <p class="role"><strong>Fund Reciever</strong> </p>
          .col-sm-4.clearfix
            .member-team
              a(href="#")
                span.img(data-picture data-alt="illustration")
                  <span data-src="/images/teamMembers/bitgo.png"></span>
                  <span data-src="/images/teamMembers/bitgo.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                  noscript
                    <img src="img/teamMembers/bitgo.png" alt="illustration" />
              <h4><a href="#">BitGo</a></h4>
              <p class="position">Multi-Sig Provider</p>
              <p class="role"><strong>Key Manager</strong></p>
          .col-sm-4.clearfix
            .member-team
              a(href="#")
                span.img(data-picture data-alt="illustration")
                  <span data-src="/images/teamMembers/vitalik.jpg"></span>
                  <span data-src="/images/teamMembers/vitalik.jpg" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                  noscript
                    <img src="img/teamMembers/bitgo.png" alt="illustration" />
              <h4><a href="#">Vitalik Buterin</a></h4>
              <p class="position">Founder, Ethereum</p>
              <p class="role"><strong>Advisor</strong></p>

    section.fund-allocation
      .container
        .row
          .col-xs-12
            <h3>Fund allocation</h3>
        .row
          .col-xs-12
            <p>The proceeds from this software sale will be primarily used for making sure Augur developers are incentivized to constantly improve the product beyond their initial release. Specific costs are found from the development of the network infrastructure, paying for servers (for our blockchain.info style solution for people who don't want to run the full client), paying for bandwidth, marketing, as well as legal and business development.</p>
        .row
          .col-xs-12
            div.chart#fundAllocationChart

    section.token-management
      .container
        .row
          .col-xs-12
            <h3>Token Issuance</h3>
        .row
          .col-xs-12
            <p>Reputation (REP) is the token that allows an individual to report on the outcome of events (and receive part of the system’s trading fees as compensation.) All 11,000,000 REP tokens that will ever exist will be distributed at the end of the software sale. The distribution of tokens will be constantly shifting in real-time as new participants buy into the system using our novel “Live-Action” token distribution software to create true free market pricing.
            </p>
        .row
          .col-xs-12
            div.chart#fundIssuanceChart


    footer.container
        .p <a href="/legal">Legal</a><a href="/privacy">Privacy</a><span>Copyright © 2015 Forecast Foundation. All Rights Reserved.</span>

    .modal.fade#create-account-modal
      .modal-dialog.modal-sm
        .modal-content
          h4 Create a new Ethereum address
          p <b>Enter and confirm your passphrase for this address.</b>
          form
            .form-group
              input(type="password", class="form-control", id="passphrase", placeholder="Enter your passphrase", toggle="popover", data-placement="top", data-trigger="manual", title="Invalid Passphrase", data-content="Please enter a valid passphrase.")
            .form-group
              input(type="password", class="form-control", id ="confirm-passphrase", placeholder="Confirm your passphrase", toggle="popover", data-placement="bottom", data-trigger="manual", title="Invalid Passphrase", data-content="Passphrase doesn't match.")
            .form-group
              .disclaimer
                p <b>NOTE:</b> There is no recovery option for this passsphrase, so take the neccisary precations.  You may, however, create a new address and use that instead up until Augur's official launch.
            .form-group.clearfix
              button.pull-right(type="button", class="btn btn-primary", onclick="createEthereumKey()") Create

    .modal.fade#download-account-key(data-backdrop="static")
      .modal-dialog
        .modal-content
          h3 IMPORTANT!
          p An Ethereum address and private key have been created.  You <b>MUST</b> save this private key so you can import it into Augur and/or Ethereum at a later date for accessing your account and making transactions on the network.  
          p For your security and to limit our liability, we are not storing this key or the password associated with it.  Save this key to a <b>secure place</b> and make a backup.  If for any reason you do lose the key, you may create a new one here up until the official Augur launch.
          .clearfix
            a.pull-right.save-button(type="button", class="btn btn-primary", onclick="saveKey()") Save

    .modal.fade#estonia-taxation-modal
      .modal-dialog
        .modal-content
          h3 Tax implication for Estonia residence 
          p Due to Estonia's taxation of cryptocurrency purchases, special treatment need to be taken for the sale of REP in Augur.  If you are a resident of Estonia, please email Augur at <a href="mailto:support@augur.net">support@augur.net</a> and we'll provide you with resources required to make a purchase. 
          .clearfix
            a.pull-right(type="button", class="btn btn-default", data-dismiss="modal") Got it

    script(src="/js/keythereum.js")
            
    script.

      var keyJSON;

      function editEthereumAddress() {

        $('section.action .ethereum-address form.set').hide();
        $('section.action .ethereum-address form.unset').show();
      }

      function cancelEdit() {

        $('section.action .ethereum-address form.unset').hide();
        $('section.action .ethereum-address form.set').show();
      }

      function cancelEdit() {

        $('section.action .ethereum-address form.unset').hide();
        $('section.action .ethereum-address form.set').show();
      }

      $('#passphrase').on('input', function() {
        $('#passphrase').popover('hide')
      });

      $('#confirm-passphrase').on('input', function() { 
        $('#confirm-passphrase').popover('hide')
      });

      function createEthereumKey() {

        var passphrase = $('#passphrase').val();
        var confirmPassphrase = $('#confirm-passphrase').val();

        if (passphrase == '') {

          $('#passphrase').popover('show');

        } else if (passphrase != confirmPassphrase) {

          $('#confirm-passphrase').popover('show');

        } else {

          $('#create-account-modal button').attr('disabled', 'disabled').text('Generating...');

          var dk = keythereum.create();

          var key = keythereum.dump(passphrase, dk.privateKey, dk.salt, dk.iv);
          keyJSON = JSON.stringify(key);

          // save ethereum address
          $.post('/', {'ethereumAddress': key.address}, function() {

            // request user to save private key if we successfully stored address
            $('#create-account-modal').modal('hide');
            $('#download-account-key').modal('show');

          });

        }
      }

      function saveKey() {

        var link = document.createElement('a');

        if (typeof link.download === 'string') {

          link.href = 'data:application/octet-stream,' + keyJSON;
          link.download = 'augur_ethereum_private_key.json';

          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);

        } else {

          window.open(uri);
        }

        // close modal and refresh page
        $('#download-account-key').modal('hide');
        location.href = '/';
      }

    if !saleStarted
      script.
        var now = new Date();
        var saleDate = new Date(Date.UTC(2015, 07, 17, 16, 00, 00));
        var secondsUntilSale = (saleDate - now) / 1000;
        var timer = $('.timer').FlipClock(secondsUntilSale, {
          countdown: true,
          clockFace: 'DailyCounter'
        });

    script.
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/55ac011429ac8aa732362572/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();

    script.

      $(document).ready(function() {

        google.load("visualization", "1", {packages:["corechart"]});

        google.setOnLoadCallback(drawAllocationChart);
        google.setOnLoadCallback(drawIssuanceChart);

        function drawAllocationChart() {

          var data = google.visualization.arrayToDataTable([
            ['Budget', 'Percentage'],
            ['Development Compensation & Ops', 75],
            ['Legal Contingency Fund', 15],
            ['Marketing & Community Outreach', 10]
          ]);

          var options = {
            height: 400,
            chartArea: { height: 300 }
          };

          var chart = new google.visualization.PieChart(document.getElementById('fundAllocationChart'));
          chart.draw(data, options);
        }

        function drawIssuanceChart() {

          var data = google.visualization.arrayToDataTable([
            ['Issued', 'Percentage'],
            ['Public Software Sale', 80],
            ['Early Angels & Founding Team', 16],
            ['Forecast Foundation', 4]
          ]);

          var options = {
            height: 400,
            chartArea: { height: 300 }
          };

          var chart = new google.visualization.PieChart(document.getElementById('fundIssuanceChart'));
          chart.draw(data, options);
        }

        $("[data-toggle=popover]").popover();

        var addr = "3N6S9PLVizPuf8nZkhVzp11PKhTiuTVE6R"
        var url = 'https://api.chain.com/v1/bitcoin';
        url += '/addresses/' + addr;
        url += '?key=de4b1f306bbe25f98dd23c8c02c703c8';
        $.ajax({
          url: url,
          type: 'GET',
          success: function(data) {
            if(data.received > 0) {
              var amount = data.received/100000000;
              $('.amount-raised').text(amount.toString());
            }
          },
          error: function(req, msg, err) {
              console.log(err);
          }
        });
      });