html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    <meta name="viewport" content="width=device-width, initial-scale=1">
  body
    div.container
      div.jumbotron
        h1 Hello there!

        if user
          p Welcome, #{user.fullName}
          p
            a.small(href="profile") Edit my profile
          p
            a.small(href="dashboard") Dashboard
          a.btn.btn-primary(href="/logout") Logout
        else
          p Welcome to our crowdsale, ready to get started?
          p
            <div float="right">
            a.btn.btn-primary(href="/login") Login now
            br
            br
            <script type="text/javascript" src="https://clef.io/v3/clef.js" data-state="#{csrf_token}" class="clef-button" data-app-id="988fdd39fb3a41d1e273270577abb062" data-color="white" data-style="flat" data-redirect-url="http://augur-crowdsale.herokuapp.com/clef" data-type="register"></script>
            </div>
          p
            span.small Don't have an account?
            span &nbsp;
            span #[a.checkbox]
               label
               input(type='checkbox', name='checkbox', id='agreement' value='test')
            span &nbsp;
            a.small(href="/legal", target="_blank") I read the terms
            span &nbsp;
            br
            a.small(href="/register", id="link") Register now
            a.small(href="/", id="fakeReg") Register now
            script(type='text/javascript').
              var chk = document.getElementById("agreement");
              var anchor = document.getElementById("link");
              anchor.style.display = "none";
              anchor.onclick = function(e){
                e.preventDefault();
              }

              chk.onclick = function(){
                  if(chk.checked){
                      anchor.style.display = "inline";
                      document.getElementById("fakeReg").style.display = "none"
                    anchor.onclick = "";
                  }
                  else {
                    anchor.style.display = "none"
                    document.getElementById("fakeReg").style.display = "inline"
                  }
              }
            p <font size="-1">Need help? Email #[a(href="mailto:team@augur.net") team@augur.net] or message joeykrug on Skype</font>
            <!-- SHEDULE SECTION -->
            <!-- SHEDULE SECTION -->
    <section class="schedule-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span data-picture data-alt="Augur" class="main-image">
                <span data-src="img/Augur_Logo.png"></span>
                    <span data-src="img/Augur_Logo.png" data-media="(min-device-pixel-ratio: 1), (-webkit-min-device-pixel-ratio: 1), (min-resolution: 192dpi)"></span>
                    <noscript>
                        <img src="img/Augur_Logo.png" alt="Factum" />
                    </noscript>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
                    <div class="buy-box pre-sale">
                        <div class="ext-wrap">
                            <span class="as-label">Crowdsale begins in</span>
                            <div class="wrap-box black time">
                                <span>07:07:07:07</span>
                            </div>
                        </div>
                    </div>
                    <div class="holder-schedule">
                        <h6 class="smallest-headings">PRICE SCHEDULE</h6>

                        <div class="boxes">
                            <div>
                                <span class="active"><strong>True Augur</strong><br> June 15th</span>
                                <p><span>Crowdsale starts: </span>10% Discount Buy</p>
                            </div>
                            <div>
                                <span class="date"><strong>Prophet</strong><br> June 20th</span>
                                <p>Phase One:
                                    <br> 7% Discount By-In</p>
                            </div>
                            <div class="date">
                                <span class="date"><strong>Nate Silver</strong><br> June 30th</span>
                                <p>Phase 2:
                                    <br>5% Discount Buy-In</p>
                            </div>
                            <div>
                                <span class="date"><strong>Weatherman</strong><br> July 15th</span>
                                <p>Discounts end.
                                    <br> Sale ends July 30th.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    script.
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/55ac011429ac8aa732362572/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();