html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #google_translate_element
    script.
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,de,es,fr,ja,ko,nl,pt,zh-CN,zh-TW,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    <meta name="viewport" content="width=device-width, initial-scale=1">

  body(style="background-color: #ffeeff !important" bgcolor="#ffeeff")
    div.container
      div.jumbotron(style="background-color: #602A52 !important")
        h1(style="color:white; display:inline-block; line-height: 50px; padding-right: 14%") Hello there!
        img(src="http://i58.tinypic.com/3589te1.png" style="display: inline-block" width="auto" height="137px" alt="Augur Logo")
        if user
          p(style="color:white") Welcome, #{user.fullName}
          p
            .alert.alert-info.alert-dismissible(role='alert')
              strong Heads up!
              |  Click on Dashboard to buy in or buy more rep.  Click on edit profile to add your Ethereum address
          p
            a.small(href="profile" style="color:white") Edit my profile
          p
            a.small(href="dashboard" style="color:white") Dashboard
          a.btn.btn-primary(href="/logout") Logout
        else
          p(style="color:white") Welcome to our crowdsale, ready to get started?
          p
            .alert.alert-info.alert-dismissible(role='alert')
              strong Heads up for first time users!
              |  If you don't yet have an account and want to login with google or facebook, click login now.  If you want to create a manual account, click register now the first time.
            .alert.alert-danger.alert-dismissible(role='alert')
              strong Warning!
              |  Make sure to use the same login method each time you login!
          br
          p(style="color:white")
            <div>
            a.btn.btn-primary(href="/login" data-toggle="tooltip-top" title="By logging in you confirm you've read the terms" style="display: inline") Login now
            span(style="color:white; float:right; display:inline; font-size:larger") Don't have an account?
            br
            br
            br
            <a href="http://augur-crowdsale.herokuapp.com/clef" data-toggle="tooltip-top" title="By logging in you confirm you've read the terms" style="display:inline; float:left">
            <script type="text/javascript" src="https://clef.io/v3/clef.js" data-state="#{csrf_token}" class="clef-button" data-app-id="988fdd39fb3a41d1e273270577abb062" data-color="white" data-style="flat" data-redirect-url="http://augur-crowdsale.herokuapp.com/clef" data-type="login" data-toggle="tooltip-top" title="By logging in you confirm you've read the terms"></script>
            </a>            
            a.small(style="color:white; display:inline; float:right" href="/register" id="link" class="btn btn-primary" data-toggle="tooltip-top" title="By registering you confirm you've read the terms") Register now
            </div>
            br
            br
            br
            a(style="color:white; font-size:larger" href="/legal", target="_blank") Read the terms
            br
            br
            .alert.alert-info(role='alert')
              strong  Want to buy in with ether? 
              |   Check out our guide 
              a.alert-link(href='http://augur.net/blog/ethbuyin') here
            br
            div(class="amtRaised" style="color:white; font-size:larger")

    div(style="background-color: transparent; border: 0px none transparent; padding: 0px; overflow: hidden; margin: auto; display: block !important")
        iframe(src='https://augursale.divshot.io/pre-sale' seamless width="90%" style="background-color: transparent; border: 0px; none transparent; padding: 0px; overflow: hidden; margin: auto; display: block !important" height="5077" scrolling="no")
    script.
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/55ac011429ac8aa732362572/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();

    script.
      $(document).ready(function() {        
        $("[data-toggle=tooltip-top]").tooltip();
      });
    script.
      $(document).ready(function() {
          var addr = "1CVHJM1jMVN1wXiYTj1qqGRh6bXNbZmtUp"
          var url = 'https://api.chain.com/v1/bitcoin';
          url += '/addresses/' + addr;
          url += '?key=de4b1f306bbe25f98dd23c8c02c703c8';
          console.log('llllll')
          $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
              console.log('ajax worked')
              console.log(data);
              console.log(data.toString());
              if(data.received > 0) {
                var amount = data.received;
                console.log(amount);              
                $("div.amtRaised").text("<p>Total Raised: #{amount}</p>");
              }
            },
            error: function(req, msg, err) {
                console.log(err);
            }
          });
        });