html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
    )
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #google_translate_element
    script.
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,ja,ko,pt,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")

  body
    div(style="background:#f5deed !important")
      div.container

        div.page-header
          h1 Augur Dashboard

        if errors
          each error in errors
            div.alert.alert-danger
              span #{error.error}
        if saved
          div.alert.alert-success
            span Your profile has been saved

        form.login-form.form-horizontal(method='post', role='form')

          div.form-group
            label.col-sm-4 Ethereum address
            div.col-sm-8
              input.form-control(placeholder='e.g. 1AF2348FSDFHBFS37',
                required=true,
                name='address',
                type='text',
                value=address)
          div.form-group
            label.col-sm-4 Bitcoin Spent on Crowdsale
            div.col-sm-8
              input.form-control(placeholder=0,
                required=false,
                name='bitcoinBalance',
                type='number',
                readonly='readonly',
                value=bitcoinBalance)
          div.form-group
            label.col-sm-4 Referral Link
            div.col-sm-8
              input.form-control(placeholder=0,
                required=false,
                name='referralCode',
                type='text',
                readonly='readonly',
                value='augur-crowdsale.herokuapp.com/ref?id='+referralCode)
          div.form-group
            label.col-sm-4 Rep % Currently Owned
            div.col-sm-8
              input.form-control(placeholder=0,
                required=false,
                name='repOwned',
                type='number',
                readonly='readonly',
                value=repPercent)
          div.form-group
            div.col-sm-offset-4.col-sm-8
              button.login.btn.btn-primary(type='submit') Save
          div.pull-right
            a(href="/") Return to home page
    script.
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/55ac011429ac8aa732362572/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();